<main class="flex main-box">
  <div class="left-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet delectus dolores
    ducimus exercitationem ipsum libero minima nam necessitatibus non optio possimus praesentium provident, quia
    reprehenderit ut voluptas voluptates?
  </div>
  <div class="right-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus esse
    exercitationem facilis hic, illum ipsa iste labore laboriosam molestias nam placeat, qui quibusdam quidem quos
    repellendus velit! Quo.
  </div>
</main>
